$FONT_VI: 81px*1.5;
$FONT_V: 81px;
$FONT_IV: 54px;
$FONT_III: 36px;
$FONT_II: 24px;
$FONT_I: 16px;
$LIGHT_P: rgb(233, 233, 233);
$LIGHT_S: rgb(190, 193, 204);
$LIGHT_T: rgb(162, 165, 173);
$LIGHT_TINT: rgb(238, 238, 232);
$DARK_P: rgb(24, 24, 24);
$DARK_S: rgb(69, 74, 95);
$DARK_S_O: rgba(93, 117, 161, 0.318);
$NR_INTRO: 102;
$NC_INTRO: 16;
$NC_CONTENTS: 16;
$NR_CONTENTS: 30;
$NC_MOTION: 16;
$NR_MOTION: 87;
$BORDER: solid $LIGHT_P;
$BORDER_D: solid $DARK_P;
$BLUE_D: rgb(26, 43, 75);
$BLUE_L: rgb(136, 0, 95);
*{
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Georama';
}

#stars-canvas{
    position: fixed;
    z-index: -1;
    background: hsl(217, 64%, 6%);
}
.demo-wrap{
    border: 1px $BORDER_D;
    background: purple;
}
#gui{
    position: absolute;
    top: 0;
    width: 500px;
    height: 500px;
    background: purple;
    left: 0;
    z-index: 100;
}

.sec{
    color: $LIGHT_P;
    min-width: 1200px;
}

#sec-intro{
    width: 100vw;
    height: 3500px;
    display: grid;
    grid-template-columns: repeat($NC_INTRO, 1fr);
    grid-template-rows: repeat($NR_INTRO, 1fr);
    overflow: hidden;
}

#sec-contents{
    width: 100vw;
    height: 1030px;
    display: grid;
    grid-template-columns: repeat($NC_CONTENTS, 1fr);
    grid-template-rows: repeat($NR_CONTENTS, 1fr);
    overflow: hidden;
}
#sec-gap{
    width: 100vw;
    height: 60000px;
}
#sec-transition{
    width: 100vw;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    overflow: hidden;
    .shade{
        background: $LIGHT_TINT;
        opacity: 0.45;
        grid-column: 1;
        box-shadow: 0px 50px 80px 50px rgb(24, 19, 5);
        &#shade-1{
            grid-row: 1 / 7;
        }
        &#shade-2{
            grid-row: 2 / 7;
        }
        &#shade-3{
            grid-row: 3 / 7;
        }
        &#shade-4{
            grid-row: 4 / 7;
        }
        &#shade-5{
            grid-row: 5 / 7;
        }
        &#shade-6{
            grid-row: 6 / 7;
            opacity: 1;
            box-shadow: 0px 50px 80px 50px rgba(24, 19, 5, 0.45);

        }
    }
}

#sec-motion{
    color: $DARK_P;
    background: $LIGHT_TINT;
    width: 100vw;
    height: 3000px;
    z-index: 5;
    display: grid;
    grid-template-columns: repeat($NC_MOTION, 1fr);
    grid-template-rows: repeat($NR_MOTION, 1fr);
}

.t2-wrap{
    font-size: $FONT_V;
    font-weight: 800;
}

.motion-sticky-grid-wrap{
    position: absolute;
    width: 100vw;
    left: 0;
    &#motion-sticky-grid-wrap-1{
        height: 4895px;
        top: 0;
        z-index: 3;
    }
    &#motion-sticky-grid-wrap-2{
        height: 3970px;
        top: 925px;
        z-index: 2;
    }

    .motion-sticky-grid{
        width: 100%;
        height: 3000px;
        display: grid;
        grid-template-columns: repeat($NC_MOTION, 1fr);
        grid-template-rows: repeat($NR_MOTION, 1fr);
        position: sticky;
        top: 0px;
    }
}

#sec-rel-motion{
    color: $DARK_P;
    background: $LIGHT_P;
    width: 100vw;
    height: 3500px;
    z-index: 5;
    display: grid;
    grid-template-columns: repeat($NC_MOTION, 1fr);
    grid-template-rows: repeat($NR_MOTION, 1fr);
}

#sec-reference{
    width: 100vw;
    height: 3500px;
    color: $DARK_P;
    background: $LIGHT_TINT;
    display: grid;
    grid-template-columns: repeat($NC_MOTION, 1fr);
    grid-template-rows: repeat($NR_MOTION, 1fr);
}

#sec-postulates{
    width: 100vw;
    height: 3600px;
    color: $DARK_P;
    background: $LIGHT_P;
    display: grid;
    grid-template-columns: repeat($NC_MOTION, 1fr);
    grid-template-rows: repeat($NR_MOTION, 1fr);
}
#sec-SR-demo{
    width: 100vw;
    height: 1030px;
    background: $LIGHT_P;
    z-index: 3;
    color: $DARK_P;
    #SR-demo-wrap{
        width: 100%;
        height: 98%;
        z-index: 0;
    }
}

#sec-GR{
    width: 100vw;
    height: 3500px;
    color: $DARK_P;
    background: $LIGHT_TINT;
    display: grid;
    grid-template-columns: repeat($NC_MOTION, 1fr);
    grid-template-rows: repeat($NR_MOTION, 1fr);
}

#sec-bib{
    width: 100vw;
    height: 1030px;
    display: grid;
    grid-template-columns: repeat($NC_CONTENTS, 1fr);
    grid-template-rows: repeat($NR_CONTENTS, 1fr);
    overflow: hidden;
    background: $DARK_S_O;
}

.text{
    font-size: $FONT_I;
    border-left: 3px $BORDER_D;
    font-weight: 500;
    padding-left: 10px;
    line-height: 25px;
    .emph{
        font-weight: 700;
    }
    .light{
        color: $DARK_S;
    }
    .header{
        font-size: $FONT_II;
        left: -10px;
        padding: 5px 10px 0px 10px;
        width: 100%;
        margin-bottom: 10px;
    }
    .bottom{
        position: absolute;
        bottom: 5px;
        width: 100%;
    }
    .bordered{
        border-top: 1px $BORDER_D;
        left: -10px;
        padding-left: 30px;
        padding-bottom: 5px;
        font-weight: 400;
    }
    .right{
        float: right;
        text-align: right;
        width: 100%;
        margin-bottom: 20px;
    }
}

.prompt{
    text-align: right;
    padding-top: 10px;
    border: 0;
}

.t3-wrap{
    .underline{
        position: absolute;
        border-bottom: 1px $BORDER_D;
        &.underline-1{
            bottom: -5px;
            width: 35%;
        }
        &.underline-2{
            bottom: -10px;
            width: 45%;
        }
        &.underline-3{
            bottom: 0;
            width: 40%;
        }
    }
}

.date{
    color: $DARK_S;
    text-orientation: upright;
    writing-mode: vertical-lr;
    font-size: $FONT_III;
}

.bio-wrap{
    background: $DARK_S_O;

    .bio-photo{
        width: 100%;
        border: 1px $BORDER_D;
        height: 250px;
        margin-bottom: 10px;
        background-position: center;
        background-size: cover;
    }
    .bio-years{
        font-weight: 500;
        color: $DARK_S;
        margin-bottom: 10px;
    }
    .bio-name{
        font-size: $FONT_II;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .vertline{
        position: absolute;
        border-left: 1px $BORDER_D;
        height: 100%;
        
        &.leftline-1{
            left: -10px;
            height: 425px;
            bottom: -10px;
        }
        &.leftline-2{
            left: -20px;
            height: 445px;
            bottom: -20px;

        }
        &.rightline-1{
            right: -10px;
            height: 425px;
            bottom: -10px;
        }
        &.rightline-2{
            right: -20px;
            height: 445px;
            bottom: -20px;

        }
    }
}

