@import "../config.scss";

#rel-motion-t2-wrap{
    background: $LIGHT_P;
    width: 100vw;
    height: 100px;
    #rel-motion-t2{
        float: right;
        padding-right: 6%;
    }
}
#sec-rel-motion{
    .t3-wrap{
        grid-column: 2 / 14;
        font-weight: 400;
        font-size: $FONT_III;
        &#t3-wrap-1{
            grid-row: 2 / 3;
        }

        &#t3-wrap-2{
            grid-row: 21 / 22;
        }

        &#t3-wrap-3{
            grid-row: 36 / 37;
        }
        &#t3-wrap-4{
            grid-row: 66 / 67;
        }
        &#t3-wrap-5{
            grid-row: 36 / 37;
        }

        .t3{
            bottom: 2px;
        }
    }

    .text{
        &#text-1{
            grid-row: 23 / 27;
            grid-column: 3 / 14;
            padding-right: 4%;
        }
        &#text-2{
            grid-row: 38 / 41;
            grid-column: 3 / 11;
        }
        &#text-3{
            grid-row: 63 / 65;
            grid-column: 3 / 12;
        }
        &#text-4{
            grid-row: 70 / 75;
            grid-column: 11 / 16;
        }
        &#text-5{
            grid-row: 80 / 82;
            grid-column: 3 / 11;
        }
    }

    .vid-wrap{
        border: 1px $BORDER_D;
        padding: 1% 3% 3% 1%;
        &#spin-vid-wrap{
            grid-row: 4 / 18;
            grid-column: 2 / 12;
            #spin-vid{
                background-image: url("../../media/interstellar-docking.gif");
                background-size: cover;
            }
        }

        &#nascar-vid-wrap{
            grid-row: 26 / 35;
            grid-column: 10 / 16;
            #nascar-vid{
                width: 100%;
                height: 100%;
            }
        }

        .vid{
            border: 1px $BORDER_D;
            width: 100%;
            height: 100%;
            background: $BLUE_D;
        }
    }

    #motion-scale-demo-wrap{
        grid-row: 68 / 79;
        grid-column: 2 / 10;
        border: 1px $BORDER_D;
    }


    #orbits-demo-wrap{
        grid-column: 2 / 16;
        grid-row: 42 / 60;
        border: 1px $BORDER_D;

        #orbits-prompt{
            width: 100%;
            top: -35px;
            position: absolute;
        }
        #orbits-canvas{
            width: 100%;
            height: 100%;
        }
        .buttons-wrap{
            position: absolute;
            width: 100%;
            height: 5%;
            display: flex;
            justify-content: space-between;

            &#button-planets-wrap{
                bottom: -6%;
                .button{
                    width: 90px;
                }
            }

            &#button-orbits-wrap{
                justify-content: space-around;
                bottom: -12%;
                .button{
                    width: 100%;
                }
            }

            .button{
                text-align: center;

                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}