@import "../variables.scss";
@import "../base/mixins.scss";

.measurement {
    height: 100%;
    &__bar {
        border: 1px solid $light-primary;
        // border-right: none;
        height: 100%;
        overflow: hidden;
    }

    &__bar-fill {
        width: 100px;
        background: $color-primary;
        height: 100%;
    }
    
    &__text {
        height: 100%;
        @include flex(inherit, inherit, row);
        padding-top: 5px;
        padding-left: 20px;

        &--right {
            float: right;
        }
    }

    &__value {
        height: 100%;
        @include flex(center, inherit, column);
        width: 40px;
    }

    &__label {
        height: 100%;
        margin-left: 20px;
        @include flex(center, inherit, column);
    }
}