@import "../variables.scss";
@import "../base/mixins.scss";

.motion-description {
    font-size: $font-size-1;
    border-bottom: 0.5px solid $light-primary;
    padding-bottom: 10px;
    width: 50%;
}